# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Minecraft - Unity.iml
# Datasource local storage ignored files
/../../../../../../:\Unity3d Game\Minecraft - Unity\.idea\.idea.Minecraft - Unity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
